@import "~src/assets/scss/global-variables";
@import "~src/assets/scss/styles";

.buttonSelection
{
  background-color: $dominant-color;
  color: $default-text-color;
  padding: 5pt;
  border-style: solid;
  border-color: gray;
  font-size: 10;
  border-radius: 10pt 10pt 10pt 10pt;
	transition-duration : 0.6s;
  font-weight: bold;
  border-width: 2pt;
}
