<div>
  <nav class="UpperBar">
      <label class="UpperBarLeft">
        Logo
      </label>
      <label class="UpperBarLeft">
        Lonely Fort
      </label>
      <button class="UpperBarButton" (click)="OnSignClick()">{{signAction}}</button>
      <button class="UpperBarButton"  *ngIf="IsPreferenceButtonShown()" (click)="OnPreferenceClick()">X</button>
  </nav>
 
  <nav>
    <button class="MenuButton" routerLink= "feed-list">Feed</button>
    <!--
    -->
    <button class="MenuButton" routerLink = "editor">New Article</button>
    <!--
    -->
    <button class="MenuButton" routerLink = "archive">Archive</button>
  </nav>a
</div>

<div  class="routedComponent">
    <router-outlet></router-outlet>
</div>