@import "global-variables";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body
{
  width: 100%;
	font-family : Tahoma, Geneva, sans-serif;
	color : white;
  overflow-x: hidden;
}

ul {
  padding: 0;
	margin: 0;
	list-style-type: none;
}

li{
  margin-bottom: 20pt;
}

.UpperBar
{
	font-weight : bold;
	background-color : $dominant-color;
	overflow: auto;
}

.UpperBarLeft
{
	font-weight : bold;
	padding : 10pt;
	background-color : $dominant-color;
	float: left;
}

.MenuButton
{
	box-shadow: 0pt 2pt #AAAAAA;
	font-weight : bold;
	border : none;
	color : $complementary-color;
	padding : 10pt;
	background-color : $sub-dominant-color;
	border-radius: 0pt 0pt 10pt 10pt;
}

button:hover {
  background-color: $complementary-color;
	color: white;
	transition-duration : 0.6s;
}

.UpperBarButton {
	font-weight : bold;
	color: white;
	background: none;
	border: none;
	padding : 10pt;
	float: right;
}