@import "~src/assets/scss/global-variables";

.article {
  margin: 0;
  color: $default-text-color;
  box-shadow: 0pt 2pt #AAAAAA;
}

.articleHeader {
  background-color: $dominant-color;
  padding: 20pt;
}

.articleRightHeader {
  float: right;
}

.articleSpacer {
  padding-left: 10pt;
  padding-right: 10pt;
}
