.article {
  margin: 0;
  color: white;
  box-shadow: 0pt 2pt #AAAAAA;
}

.articleHeader {
  background-color: #000066;
  padding: 20pt;
}

.articleRightHeader {
  float: right;
}

.articleSpacer {
  padding-left: 10pt;
  padding-right: 10pt;
}
